.image{
  margin: 20px;
  padding: 10px;
}

#postlogin{
  margin: 20px;
}

#prelogin{
  margin: 20px;
}

#rename{
  float: left;
  position: relative;
  margin: 20px;
  padding: 10px;
}

#delete{
  float: right;
  position: relative;
  margin: 20px;
  padding: 10px;
}

#title{
  margin: 20px;
  padding: 20px;
  text-align: center;
}

#header{
  position: relative;
}

.jumbotron{
  margin-top: 10px;
}

.project-image
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  max-width: 100%;
  box-shadow: 0px 3px 3px #9696be;
  border: 2px solid transparent;
  /*border-image: url(border3.png) 30 30 round;*/
}

.blockline
{
  border: 1px solid rgba(170,170,170,0.5);
  margin-top: 20px;
  margin-bottom: 30px;
}

.navlink
{
  transition: color 0.2s ease-out;
}

.project-container
{
  padding-bottom: 10px;
  color: rgb(210,210,250);
  background-color: rgba(20,20,30,0.5);
  box-shadow: 0px 3px 3px #9696be;
  margin: 10px;
}

.center
{
  text-align: center;
}

#list
{
  /*height: 750px;
  overflow-y: scroll;*/
  /*border: 1px solid black;*/
  padding: 5px;
  /*background-color: white;*/
}

#name-image {
  -webkit-text-fill-color: rgb(210,210,250); 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #151d4d;
  background-size: 100%;
  color: rgb(210,210,250);
  height: 250px;
  background-position: center;
  margin-top: 0px;
  text-shadow: 2px 2px #151d4d;
  box-shadow: 0px 1px 1px #9696be;
}

.area { 
  position:relative;
  width:800px; height:600px; 
}
.bar { 
  position:absolute; bottom:0; 
  background: -webkit-linear-gradient(red, white); 
  background: -o-linear-gradient(red, white);
  background: -moz-linear-gradient(red, white); 
  background: linear-gradient(red, white); 
  -webkit-transition:0.01s ease all;}
.initiator {
  position:absolute;
  width:600px; height:600px; 
  -webkit-transition:0.5s ease all;
  z-index:10000;
  cursor: pointer;
}
.experiment { 
  position: block;
  margin-left: auto; 
  margin-right: auto;
  }
.big {
  font-size: 22px;
}

#allgames {
  -webkit-text-fill-color: rgb(210,210,250); 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #151d4d;
  background-position: top;
  background-size: 100%;
  color: rgb(210,210,250);
  box-shadow: 0px 2px 2px #9696be;
}

.visualizer{
  background-image: url('img/Milkdrop.jpg'); 
  padding-top: 1px; 
  padding-bottom: 20px;
  color: rgb(210,210,250);
  background-position: center;
  box-shadow: 0px 3px 3px #9696be;
}

.list-image{
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

#numResults{
  font-size: 20px;
  text-align: center;
}

.list-tag {
  padding: 2px;
  margin: 2px;
  font-family: "Times New Roman", Times, serif;
}

#photouploader{
  padding-bottom: 10px;
  box-shadow: 0px 2px 2px #9696be;
  margin: 10px;
  color: rgb(210,210,250);
}

.grid-image{
  height: 250px;
}

#photo-uploader-image {
  background-position: left bottom;
  box-shadow: 0px 2px 2px #9696be;
}

#visWindow{
  -webkit-transition:0.5s ease all;
}